header{
    background-color: green;
}
#sideBar{

}
#content{
    margin: .5em;
    margin-left: 250px;
    background-color: yellow;
}


header{
    padding: 1em;
    /*position: fixed;*/
    /*width: 100%;*/
    margin: .5em;
}
main{
    display: block;
}

#headerHead{

    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;

}
input[name="searchBar"]{
    min-width: 30%;
    width: 70%;
}

#headerDropDown{
    display: none;
}

#sideBar{
    margin: .5em;
    float: left;
    width: 200px;
}
.tagNav,.tagNavNest{
    margin: 0.125em;
    border: 1px solid black;
    margin-left: 0.2em;

}
.tagNavLabel{
    border-bottom: 1px solid black;
}
