/********************************** ACCOUNT ***********************/
#profilePic {
    display: block;
    width: 12em;
    height: 12em;
}

form input[type=file] {
  width: 14.4em;
  height: 1.5em;
  /* border: black 2px inset; */
}

.accountP {
  margin-left: 1em;
  font-weight: bold;
  color: #FF8800;
}

#editProfile {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#saveProfile {
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.selectorForm {
  display: inline-block;
}
.hide {
    display: none;
}
