.centerBox {
    border: orange 1px solid;
    padding: 1em;
    width: 20em;
    margin: 5em auto;
}
.centerBox form:first-child {
    margin-bottom: 4em;
}
.centerBox form input {
    width: 100%;
    margin: 0.5em 0;
    height: 1.5em;
    
    border: black 2px solid;
}
/* Login Button*/
.centerBox form input:last-child {
    border: white 2px outset;
    display: block;
    width: 50%;
    margin: auto;
    background-color: orange;
    color: #454545;
    font-weight: bold;
    padding: 0.25em;
    height: 2.5em;
}
