.mainView div {
    border: #FF8800 1px solid;
    /* background-color: orange; */
}
.half > div:last-child, .half > div:first-child {
    margin: 0.75em 0;
    padding: 0.25em;
}
.mainView > div {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.25em;
}
.half {
    width: 47.5%;
    margin-bottom: 1em;
}
.prodLeft {
    float: left;
}
.prodRight {
    float: right;
}
.containedImg {
    width: 100%;
}
.inlineEle {
    display: inline-block;
}
#flavourText {
    clear: both;
}

#cartButton {
    background-color: #FF8800;;
    font-weight: bold;
    color: #353535;
    height: 2em;
}
#qty {
    border: black 1px solid;
    height: 1.25em;
    background-color: #FF8800;;
    color: #353535;
    padding: 0.25em 0.5em;
    text-align: center;
}


.prodComment {
    margin: 0.5em;
}
.prodComment p {
    margin: 0.5em;
}
