.thumbContainer {
  width: 16em;
  height: 10em;
  border: 1px solid #FF8800;
  margin-bottom: 1em;
  overflow: hidden;
}

.thumbContainer img {
  position: relative;
  height: 10em;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin-bottom: 1em;
}

.thumbContainer img:hover {
  opacity: 0.70;
}

.noHover:hover {
  opacity: 1;
}

.thumbContainer img:last-child {
  margin-bottom: 0;
}

.thumbContainer:last-child {
  margin-bottom: 0em;
}

.thumbContainer figcaption {
  text-decoration: none;
  background-color: black;
  color: white;
  opacity: 0.7;
  width: 100%;
  height: 20px;
  padding: 5px;
  position: relative;
}

.thumbContainer figcaption:first-of-type {
  transform: translateY(-180px);
}

.thumbContainer figcaption:last-of-type {
  transform: translateY(-80px);
  font-weight: bold;
}

.thumbContainerPrice {
  height: 1em;
  background-color: black;
  opacity: 0.5;
}

.addCartButton {
  font-weight: bold;
  display: inline-block;
  position: absolute;
  font-size: 0.75em;
  text-decoration: none;
  border: 1px solid #FF8800;
  border-radius: 0.5em 0 0 0;
  padding: 0.5em 0.25em 0.5em 0.25em;
  background-color: #FF8800;
  color: #353535;
  transform: translateY(-106px) translateX(183px);
}

h1 {
  margin-bottom: 1em;
}

/********************************* CART ENTRIES *****************************/

.cartEntry {
  display: flex;
  justify-content: space-between;
  border-top: #FF8800 solid 1px;
  /* border-bottom: none; */
  padding: 1em;
}

.attributeEntry {
  display: flex;
  justify-content: space-around;
}

.cartEntry:first-of-type {
  border-top: none;
}

.cartEntry:last-of-type {
  border-bottom: #FF8800 solid 1px;
}

.leftCol {
  margin-right: 1em;
}

.middleCol {
  /* width: 30%; */
  flex-grow: 2;
}

.productName p {
  font-weight: bold;
  color: #FAFAFF;
  margin-bottom: 1em;
  display: inline-block;
}

.productPrice p {
  display: inline-block;
  font-weight: bold;
}

.productPrice p:first-child {
  /* font-weight: bold; */
  margin-right: 2em;
}

.attributeType, .attributeValue {
  padding-right: 1em;
  font-weight: bold;
}

.productPrice p:last-child, .attributeValue {
  /* font-weight: bold; */
  color: #FF8800;
}

.middleCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  margin-bottom: 1em;
  border-bottom: 1px solid #FF8800;
  padding-bottom: 1em;
}

h2 {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

.shippingBilling {
  display: flex;
  justify-content: center;
  align-items: center;
}

#billingForm {
  margin-left: 2em;
}

.paymentMethodContainer {
  margin: auto;
}

.shippingMethodContainer {
  margin: auto;
}

.checkoutTotalsContainer {
  margin:auto;
}

form input[type=text], form input[type=email], form input[type=password] {
  width: 18em;
  height: 1.5em;
  font-weight: bold;
  word-wrap: break-word;
  /* overflow-wrap; break-word; */
  /* border: black 2px inset; */
}
form input[type=text]#cardCVV {
  width: 5em;
  height: 1.5em;
  /* border: black 2px inset; */
}
form input[type=text]#cardExpiry {
  width: 10em;
  height: 1.5em;
  /* border: black 2px inset; */
}

.commentHeader {
  margin-top: 1em;
}

.prodComment {
    margin: 0.5em;
}
.prodComment p {
    margin: 0.5em;
}

.prodCommentButton {
  display: block;
  height: 2em;
  width: 4em;
  background-color: #FF8800;
}

.inlineEle {
    display: inline-block;
}

.username {
  font-weight: bold;
  color: #FF8800;
}

.selectorForm {
  display: inline-block;
}
