.searchEntry {
  display: flex;
  justify-content: space-around;
  border-top: #FF8800 solid 1px;
  /* border-bottom: none; */
  padding: 1em;
}

.titleEntry {
  display: flex;
  justify-content: flex-start;
  /* border-top: #FF8800 solid 1px; */
  /* border-bottom: none; */
  /* padding: 1em; */
}

.titleCol.leftCol {
  margin-right: 10em;
}

.searchEntry:last-of-type {
  border-bottom: #FF8800 solid 1px;
}

.leftCol {
  /* width: 10%; */
  /* flex-grow: 1; */
}

.rightCol {
  /* width: 10%; */
  /* flex-grow: 1; */
}

.middleCol {
  width: 40%;
  /* flex-grow: 2; */
}


.thumbContainer {
  display: inline-block;
  width: 15em;
  height: 10em;
  border: 1px solid #FF8800;
  overflow: hidden;
}

.thumbContainer img {
  position: relative;
  height: 10em;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.thumbContainer img:hover {
  opacity: 0.70;
}

.searchEntry a {
  text-decoration: none;
}

.searchLink {
  font-weight: bold;
  display: block;
  margin-top: 1em;
  padding: 0.5em;
  text-align: center;
  color: #FF8800;
}

.searchLink:hover {
  background-color: #FF8800;
  color: #353535;
}

.rightCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addToCart {
  display: block;
  border: 1px solid #FF8800;
  border-radius: 1em;
  padding: 1.5em 1em 1.5em 1em;
  background-color: #FF8800;
  color: #353535;
}

.addToCart:hover {
  opacity: 0.7;
}

.commentBubble {
  width: 1em;
  margin-left: 0.5em;
}

.midTopFlex {
  display: flex;
  justify-content: space-between;
}

.midTopFlex div {
  padding: 0.5em;
  width: 25%;
  /* border: #FF8800 1px solid; */
}

.searchDescription {
  margin-top: 1em;
}

h1 {
  margin-bottom: 1em;
}

.middleCol h2 {
  display: inline-block;
}

.attribute {
  font-weight: bold;
}

.attribute p:first-child {
  /* font-weight: bold; */
  margin-bottom: 0.5em;
}

.attribute p:last-child {
  /* font-weight: bold; */
  color: #FF8800;
}
