.navi {
    display: block;
    background-color: #272727;
    width: 100%;
    height: 5.25em;
    margin: 0;
    padding: 0;
    text-align: left;
}

.navUnit {
    margin: 0;
    padding: 0;
}

.navUnit a {
    background-color: #373737;
    display: block;
    color: #fff;
    margin: 0.25em;
    padding: 0.75em;
    float: left;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
}

.patherino {
    display: block;
    clear: both;
    margin-left: 0.25em;
    color: #fff;
}

.searcheree {
    display: block;
    text-align: center;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#bar {
    position: relative;
    border-radius: 10px;
    padding-top: .25em;
    border: none;
    margin-right: 16px;
    font-size: .95em;
}

.barButton {
    position: relative;
    padding-top: .25em;
    left: -3em;
    background-color: #C00;
    border-radius: 50%;
    border: 0;
    color: #FFF;
    width: 3em;
    height: 1.25em;
    outline: 0;
}

.navUnit a:hover {
    background-color: #14a76c;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #747474;
    margin: 0;
}

.mainContent {
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    color: white;
}

.dataCrit {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #272727;
    text-align: center;
}

.copyrighto {
    position: block;
    width: 100%;
    color: #fff;
    font-size: 0.7em;
    text-align: center;
}

.copyrighto:after {
    content: "\a";
    white-space: pre;
}

.copyrighto a:link {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    background: #000;
    margin-top: 0.1%;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;

}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #272727;
    padding: 1px 1px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
    transition: ease-in;
    transition-duration: .5s;
}

.active,
.demo:hover {
    opacity: 1;
    transition: ease-out;
    transition-duration: .1s;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}