header{
    background-color: green;
}

header{
    display: flex;
    padding-top: 0.75em;
    padding-left: 2em;
    padding-bottom: 0.25em;
    width: 100%;
    height: 5.25em;
}

#homeBt {
    height: 3em;
}

main{
    display: block;
    margin: 2.5em auto;
    max-width: 50em;
}

aside {
    width: 7.5em;
    padding: 0.5em;
    border: black solid 1px;
    float: left;
}
aside div {
    border: black 1px solid;
    padding: 0.25em;
}

#content {
    width: 30em;
    background-color: lightgray;
    margin-left: 10em;
    border: 1px black solid;
    padding: 1em;
}